html,body{
	margin:0;
	padding:0;
	background-color: rgb(200,200,200);
	font-family: "museo-sans",serif;
	font-style: normal;

	color:rgb(40,40,40);

	
}

#content {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

background-image: linear-gradient(left bottom, rgb(103,184,222) 14%, rgb(180,220,237) 69%);
background-image: -o-linear-gradient(left bottom, rgb(103,184,222) 14%, rgb(180,220,237) 69%);
background-image: -moz-linear-gradient(left bottom, rgb(103,184,222) 14%, rgb(180,220,237) 69%);
background-image: -webkit-linear-gradient(left bottom, rgb(103,184,222) 14%, rgb(180,220,237) 69%);
background-image: -ms-linear-gradient(left bottom, rgb(103,184,222) 14%, rgb(180,220,237) 69%);

background-image:url('img/cloud1.png'),url('img/cloud2.png'), -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.14, rgb(103,184,222)),
	color-stop(0.69, rgb(180,220,237))
);
	background-repeat: no-repeat;
	background-position:  center left, top right;


}

#content article{
	width: 960px;
	margin:auto;

}
#about{
	margin:150px 0 0 50px;
	max-width: 960px;
	font-weight: 100;
	font-size: 22px;
	font-style: italic;
}	

#about p{
	margin-top: 40px;
	font-family: "museo-sans",sans-serif;
	font-style: italic;
	font-weight: 100;
}

#header{
	position:absolute;
	width: 100%;
	text-align: center;
	height: 30px;
	overflow: hidden;
	background-color: rgba(100,100,100,0.3);
	color: rgb(120,120,120);
}
#footer{
	width: 100%;
	text-align: center;
	height: 30px;
	overflow: hidden;
	background-color: rgba(100,100,100,0.3);
	color: rgb(120,120,120);
}
#header p, #footer p{
	padding: 5;
	margin: 0;
}
#header{
	top:0px;
	box-shadow: 0px 0px 5px ;
}

#footer{
	bottom:0px;
	border-top: 2px solid rgba(0,0,0,0.1);
}

#buttons{
	overflow: hidden;
	width: auto;
	margin:30px 0 0 50px;
}

.button{
	background-color: red;
	float: left;
	margin: 0 10px;
	width: 150px;
	height: 45px;
	border:2px solid rgb(116,65,63);
	background-color: rgb(245,65,63);
	border-radius: 5px;
}
.button p{
	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: rgb(230,230,230);
	text-align: center;
	margin: 12px;
}

a{
	text-decoration: none;
}
a:link {color:rgb(220,220,220);}
a:visited{color:rgb(220,220,220);}
a:hover {color:rgb(240,240,240); font-weight: 500;}
a:active {color:rgb(180,180,180);}


#content article{
	border:1px solid white;
	overflow: hidden;
	background-color: rgba(250,250,250,0.7);
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 10px 10px 0 0 ;
	padding: 20px;
}

#logo{
	width: 960px;
	margin:75px auto 5px auto;
	text-align: right;
	font-size: 40px;
	font-weight:700;
	padding: 0;
}
#logo p{
	margin:0;
}
#logo span{
	display: inline-block;
	float: left;
	font-family: 'museo-sans';
	font-weight: 100;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
	margin-left: 10px;
	color: rgb(100,100,100);
}

#greetings{
	overflow: hidden;
	min-height: 250px;
}
#avatar{
	width: 180px;
	height: 180px;
	background-image:url('img/wizard-cat-hat.jpg');
	background-size: cover;
	border: 1px solid rgba(255,255,255,0.2);
	background-repeat: no-repeat;
	border-radius: 5px;
	float:left;
	margin-left: 10px;
	margin-top: 30px;
}

#hello-text{
	width: 250px;
	float: left;
	margin-left: 20px;
}
#hello-text p{
	font-size: 25px;
	font-weight:100;
	margin: 10px 0 0 0px;
}
#hello-text h1{
	font-size: 40px;
	font-weight:100;
	margin: 25px 0 0 0px;
}
#hello-text span{
	font-style: italic;
	font-weight: 500;
	font-size: 54px;
}
#clock{
	width: 460px;
	font-size: 110px;
	font-weight: 100;
	float: left;
	overflow: hidden;
	margin-left: 20px;
	color:rgb(90,90,90);
	text-align: center;
}
#clock p{
	margin: 0;
}
#cal-content{
	font-size: 44px;
	font-weight: 100;
}

#chart-head h1{
	font-family: 'museo-sans';
	font-weight: 100;
	font-size: 30px;
	margin:40px 10px 0 10px;
	color: rgb(100,100,100);
}

#map-canvas{
	overflow: hidden;
	min-height: 500px;
	margin: 0px 10px;
	clear: both;
}

#chart-elem{
	margin: 10px 10px 40px 10px;
}

#button-container{
	margin-left: 500px;	
}
.but{
	float: left;
	background-color: rgb(200,200,200);
	padding:10px 5px;
	margin: 10px 0px;

	border-top:1px solid rgb(150,150,150);
	border-right:1px solid rgb(150,150,150);
	border-bottom:1px solid rgb(150,150,150);
	min-width: 50px; 
	box-shadow: 1px 1px 2px black;


}

.but:hover{
	background-color: rgb(150,150,150);
}
.but p{
	margin: 0px 10px;
}
.bleft{
	border-radius: 5px 0 0 5px;
	border: 1px solid rgb(150,150,150);
}
.bright{
	border-radius: 0 5px 5px 0;
}

#button-container a:link {color:rgb(90,90,90);}
#button-container a:visited{color:rgb(90,90,90);}
#button-container a:hover {color:rgb(240,240,240); font-weight: 500;}
#button-container a:active {color:rgb(90,90,90);}

